# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables
.env
.env.*

# Django
local_settings.py
db.sqlite3

# OS files
.DS_Store
Thumbs.db

# Windows ADS
*Zone.Identifiervenv/
__pycache__/
*.pyc
